{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if eq .Page.Params.outdated true  }}
    <div class="ui warning message">
        <h2 class="header">Warning! - Outdated content</h2>
        <p>You are watching the schedule for a previous year!<br>
        Please find the most current schedule under: <a href="/schedule" style="font-weight: bold; text-decoration: underline;">Current schedule</a></p>
    </div>
{{ end }}

{{ partial "schedule.html" . }}

{{ end }}